
@{
    ViewData["Title"] = "Login Into SOA";
}

<h3 class="text-center display-4">Login to SOA</h3>

<div class="row pt-5">
    <div class="col-sm-12 offset-4 col-md-4 align-self-center">
        <form id="login-form">
            <div class="form-group">
                <label for="Email">Email address</label>
                <input type="email" class="form-control" id="Email" name="Email">
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" class="form-control" id="Password" name="Password">
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="RememberMe" name="RememberMe">
                    <label class="custom-control-label" for="RememberMe">Remember Me</label>
                </div>
            </div>
            <button type="button" id="btn-login" class="btn btn-block btn-outline-primary">Login</button>
        </form>
    </div>
</div>

@section Scripts { 
    <script src="~/js/account/login.js"></script>
}